.inline-name
{
    width:20%;
}

.inline-message
{
    width:50%
}

body { padding-top: 150px; }

.toppadding {
    padding-top: 20px;
}

.lrpadding {
    padding-left: 15px;
    padding-right: 15px;
}